.flows_js4.json.backup
[{"id":"cf9b93e8.5f5e1","type":"tab","label":"Flow 1"},{"id":"fa858176.b9fd48","type":"tab","label":"Flow 3"},{"id":"480057f9.6acdc8","type":"tab","label":"Flow 2"},{"id":"dbafe877.8a5608","type":"tab","label":"Flow 4"},{"id":"2e9e66b.e4fd89a","type":"tab","label":"Flow 5"},{"id":"cd769178.92aae","type":"tab","label":"Flow 6"},{"id":"fff2c604.c6b9e8","type":"tab","label":"Flow 7"},{"id":"89e82506.7babb","type":"tab","label":"Flow 8"},{"id":"4e6571c6.5ef22","type":"tab","label":"Flow 9"},{"id":"7d7f0ca0.373b94","type":"tab","label":"Flow 10"},{"id":"f50e76f4.da2098","type":"tab","label":"Flow 11"},{"id":"f767b786.2f5da","type":"tab","label":"Flow 12"},{"id":"6219e183.af044","type":"tab","label":"Flow 13"},{"id":"6b1b0aea.e8f174","type":"tab","label":"Flow 14"},{"id":"5acbbe8e.38a6e8","type":"tab","label":"Flow 17"},{"id":"22021507.19bfea","type":"twitter-credentials","z":"","screen_name":"@Chan_1di"},{"id":"e8b3d8de.84519","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"nodedemo","name":""},{"id":"5ddeec06.31fd8c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"","tz":""},{"id":"574373ac.02d34c","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"2887cfbf.8d48f8","type":"ui_group","z":"","name":"power","tab":"f58eba51.31fca8","disp":true,"width":"6"},{"id":"b4fec4c9.ce4578","type":"ui_group","z":"","name":"Weather","tab":"","disp":true,"width":"6"},{"id":"f58eba51.31fca8","type":"ui_tab","z":"","name":"power","icon":"dashboard"},{"id":"216c5c7f.2b027c","type":"inject","z":"cf9b93e8.5f5e1","name":"Interval","topic":"","payload":"","payloadType":"date","repeat":"18000","crontab":"","once":false,"x":202.5,"y":131,"wires":[["8e1636c.e0a5248"]]},{"id":"8e1636c.e0a5248","type":"http request","z":"cf9b93e8.5f5e1","name":"http","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":661.5,"y":88,"wires":[["99f488c2.a96088"]]},{"id":"99f488c2.a96088","type":"function","z":"cf9b93e8.5f5e1","name":"Function","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n    \n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n    node.log(\"not displaying\");\n    node.warn(\"done\");\n    return [msg,msg2];\n   \n}\nreturn null;","outputs":1,"noerr":0,"x":397.5,"y":240,"wires":[["64ed71de.323a9","1c82498b.6d24ae"]]},{"id":"1c82498b.6d24ae","type":"debug","z":"cf9b93e8.5f5e1","name":"debug1","active":true,"console":"false","complete":"payload","x":660.5,"y":328,"wires":[]},{"id":"64ed71de.323a9","type":"debug","z":"cf9b93e8.5f5e1","name":"debug2","active":true,"console":"false","complete":"payload","x":178.5,"y":348,"wires":[]},{"id":"34a6bcc.15201c4","type":"inject","z":"fa858176.b9fd48","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":206.5,"y":95,"wires":[["59159d8a.c75c8c"]]},{"id":"c1836011.1b17d8","type":"debug","z":"fa858176.b9fd48","name":"","active":true,"console":"false","complete":"payload","x":586.5,"y":96,"wires":[]},{"id":"59159d8a.c75c8c","type":"function","z":"fa858176.b9fd48","name":"Function","func":"// var msg1 = { payload:\"first out of output 1\" };\n// var msg2 = { payload:\"second out of output 1\" };\n// var msg3 = { payload:\"third out of output 1\" };\n// var msg4 = { payload:\"only message from output 2\" };\n// return [ [ msg1, msg2, msg3 , msg4 ]];\n// var outputMsgs = [];\n// var words = msg.payload.split(\" \");\n// for (var w in words) {\n//     outputMsgs.push({payload:words[w]});\n// }\n// // node.log(\"Something happened\");\n// node.error(\"Oh no, something bad happened\");\n// return [ outputMsgs ];\n// function call(){\nvar q=45;\nvar w=52;\nvar result=q+w;\nnode.log(result);\n//   if(isNaN(q)||isNaN(w)){\n//           alert(\"please enter a number\");\n//      }\n//      else\n\n//         {\n\n//          var result=q+w;\n         node.warn(result);\n        \n//       }\n\n// }\n","outputs":1,"noerr":0,"x":410.5,"y":118,"wires":[["c1836011.1b17d8"]]},{"id":"2cc66f9b.989698","type":"inject","z":"480057f9.6acdc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":171.5,"y":54,"wires":[["dfcd7aa1.8ce11"]]},{"id":"dfcd7aa1.8ce11","type":"debug","z":"480057f9.6acdc8","name":"","active":true,"console":"false","complete":"false","x":526.5,"y":43,"wires":[]},{"id":"e6c974d4.4dc05","type":"twitter in","z":"480057f9.6acdc8","twitter":"22021507.19bfea","tags":"#angular","user":"false","name":"","topic":"tweets","inputs":1,"x":106.5,"y":125,"wires":[[]]},{"id":"b61994b2.6b1b2","type":"mongodb out","z":"480057f9.6acdc8","mongodb":"e8b3d8de.84519","name":"","collection":"tweets","payonly":false,"upsert":false,"multi":false,"operation":"store","x":730.5,"y":276,"wires":[]},{"id":"2d970aa7.c1f066","type":"http in","z":"480057f9.6acdc8","name":"","url":"/tweets","method":"get","swaggerDoc":"","x":79.5,"y":247,"wires":[["9e188f09.0339b8"]]},{"id":"b5d71302.3b8a","type":"http response","z":"480057f9.6acdc8","name":"","x":745.5,"y":403,"wires":[]},{"id":"fb481ee5.8e64f8","type":"mongodb in","z":"480057f9.6acdc8","mongodb":"e8b3d8de.84519","name":"","collection":"tweets","operation":"find","x":364.5,"y":346,"wires":[["6bc045f1.a528c4"]]},{"id":"6bc045f1.a528c4","type":"template","z":"480057f9.6acdc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\nbody\n{\n    text-align: center;                \n}\nul\n{\n    text-align: left;\n    width: 500px;\n    margin: auto;\n    list-style-type: none;\n}\nli\n{\n    border: 1px solid #999;\n    border-left-width:10px ;\n    border-radius:3px ;\n    margin-bottom:20px ;\n    padding: 10px;\n}\nli.sentiment_positive\n{\n border-left: 10px solid #69B369;   \n}\nli.sentiment_negative\n{\n    border-left:10px solid #E64444;\n}\n.tweet\n{\n    display: inline-block;\n    font-family:Helvetica ;\n    width:380px ;\n    margin-left: 10px;\n}\nimg\n{\n    width: 48px;\n    height: 48px;\n    border-radius:5px ;\n    vertical-align: top;\n}\n\n</style>\n    </head>\n    <body>\n<ul>\n    {{#payload}}\n    <li class=\"sentiment_ {{sentiment.text}}\">\n        <img src=\"{{tweet.user.profile_image_url}}\">\n        <div class=\"tweet\">\n            <div class=\"user\"><b>{{tweet.user.name}}</b></div>\n            <div class=\"text\">{{tweet.text}}</div>\n        </div>\n    </li>\n    {{/payload}}\n    <p>hello world</p>\n</ul>\n</body>\n</html>","x":450.5,"y":445,"wires":[["b5d71302.3b8a"]]},{"id":"ab11feb7.9e2a28","type":"sentiment","z":"480057f9.6acdc8","name":"","x":317.5,"y":151,"wires":[["7876dfa3.9a8118"]]},{"id":"7876dfa3.9a8118","type":"function","z":"480057f9.6acdc8","name":"","func":"// if(msg.sentiment.score > 0)\n// {\n//     msg.sentiment.text = \"positive\";\n// }\n// else if(msg.sentiment.score < 0)\n// {\n//     msg.sentiment.text = \"negative\";\n// }\nmsg.payload = new Buffer(msg.sentiment.text);\nreturn msg;","outputs":1,"noerr":0,"x":483.5,"y":103,"wires":[["3eb2b901.59fc9e"]]},{"id":"9e188f09.0339b8","type":"function","z":"480057f9.6acdc8","name":"","func":"msg.sort = {\"tweet.id\":-1};\nmsg.limit = 5;\nmsg.skip = 10;\nreturn msg;","outputs":1,"noerr":0,"x":134.5,"y":347,"wires":[["fb481ee5.8e64f8"]]},{"id":"8c8c8e4c.a527d","type":"inject","z":"dbafe877.8a5608","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":233.5,"y":117,"wires":[["4a775f12.683aa","b530ffe2.911a"]]},{"id":"b530ffe2.911a","type":"debug","z":"dbafe877.8a5608","name":"","active":true,"console":"false","complete":"false","x":667.5,"y":112,"wires":[]},{"id":"4a775f12.683aa","type":"function","z":"dbafe877.8a5608","name":"number chart","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":353.5,"y":258,"wires":[["84e193ee.db8fa","acc5c915.cbb898"]]},{"id":"84e193ee.db8fa","type":"ui_chart","z":"dbafe877.8a5608","name":"","group":"2887cfbf.8d48f8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"x":668.5,"y":254,"wires":[[],[]]},{"id":"acc5c915.cbb898","type":"ui_gauge","z":"dbafe877.8a5608","name":"","group":"2887cfbf.8d48f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":"1","max":"5","colors":["#00b500","#e6e600","#ca3838"],"x":656.5,"y":343,"wires":[]},{"id":"171c80b2.2b4b5f","type":"inject","z":"2e9e66b.e4fd89a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144.5,"y":155,"wires":[["22f057bf.cc9fa8"]]},{"id":"50cc161a.16424","type":"debug","z":"2e9e66b.e4fd89a","name":"","active":true,"console":"false","complete":"false","x":577.5,"y":147,"wires":[]},{"id":"22f057bf.cc9fa8","type":"function","z":"2e9e66b.e4fd89a","name":"","func":"msg.payload = \"CHANDRESH\";\nvar asd = msg.payload;\nasd.toLowerCase();\nnode.warn(asd.toLowerCase());\nreturn msg;","outputs":1,"noerr":0,"x":348.5,"y":182,"wires":[["50cc161a.16424"]]},{"id":"83a6e24.6d53ea","type":"inject","z":"cd769178.92aae","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":138.5,"y":116,"wires":[["b17a49da.ae44d8"]]},{"id":"b17a49da.ae44d8","type":"debug","z":"cd769178.92aae","name":"","active":true,"console":"false","complete":"false","x":455.5,"y":129,"wires":[]},{"id":"9d5ba535.cdf9","type":"twitter in","z":"cd769178.92aae","twitter":"22021507.19bfea","tags":"#news","user":"false","name":"","topic":"tweets","inputs":0,"x":142.5,"y":296,"wires":[[]]},{"id":"db69ce24.7b93d","type":"function","z":"cd769178.92aae","name":"","func":"// var a = {payload:document.getElementById(\"\").a\n// var msg1 = {payload:tweet.user.name};\n// var outputMsgs = [];\n// var words = msg.payload.split(\" \");\n// for (var w in words) {\n//     outputMsgs.push({payload:words[w]});\n// }\n// return [ outputMsgs ];\n// return msg;\n// var info = {foo: 100};\n// var message = {\n//     body: 'some string',\n//     customProperties: {\n//         type: 1,\n//         name: 'test',\n//         info: btoa(JSON.stringify(info))\n//     }\n// };\n// return message ;\nvar b64string = msg.payload;\nvar buf = new Buffer(b64string, 'base64');\nreturn buf;","outputs":1,"noerr":0,"x":142.5,"y":201,"wires":[["b17a49da.ae44d8"]]},{"id":"5d34d5cd.7fc69c","type":"inject","z":"fff2c604.c6b9e8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":85,"y":93,"wires":[["60a1930d.21fadc"]]},{"id":"250d64a6.6d045c","type":"debug","z":"fff2c604.c6b9e8","name":"","active":true,"console":"false","complete":"false","x":738,"y":108,"wires":[]},{"id":"a3e06448.f214e8","type":"debug","z":"fff2c604.c6b9e8","name":"","active":true,"console":"false","complete":"false","x":721,"y":244,"wires":[]},{"id":"f427169c.7ba698","type":"inject","z":"fff2c604.c6b9e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1843,"y":194,"wires":[[]]},{"id":"83924eaf.fb04c","type":"debug","z":"fff2c604.c6b9e8","name":"","active":true,"console":"false","complete":"false","x":2239,"y":291,"wires":[]},{"id":"60a1930d.21fadc","type":"function","z":"fff2c604.c6b9e8","name":"","func":"msg.payload = new Buffer(\"CHANDRESH\");\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":229,"wires":[["1aae88b5.a48767"]]},{"id":"1aae88b5.a48767","type":"base64","z":"fff2c604.c6b9e8","name":"","x":354.5,"y":101,"wires":[["11a70e92.9a5519","250d64a6.6d045c"]]},{"id":"11a70e92.9a5519","type":"base64","z":"fff2c604.c6b9e8","name":"","x":487.5,"y":240,"wires":[["a3e06448.f214e8"]]},{"id":"cdf004d7.6bb668","type":"inject","z":"89e82506.7babb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.5,"y":111,"wires":[["542316f5.67b3c8"]]},{"id":"542316f5.67b3c8","type":"function","z":"89e82506.7babb","name":"","func":"msg.payload = \"Working\";\nreturn msg;","outputs":1,"noerr":0,"x":265.5,"y":131,"wires":[[]]},{"id":"124ef7ff.0e29a8","type":"debug","z":"89e82506.7babb","name":"","active":true,"console":"false","complete":"false","x":694.5,"y":216,"wires":[]},{"id":"5907d06f.210d5","type":"debug","z":"4e6571c6.5ef22","name":"","active":true,"complete":false,"x":570,"y":188,"wires":[]},{"id":"6cbdbb7d.fe8dcc","type":"inject","z":"4e6571c6.5ef22","name":"","topic":"","payload":"","repeat":"","once":false,"x":170,"y":188,"wires":[["ed06d6e1.c0abd"]]},{"id":"ed06d6e1.c0abd","type":"function","z":"4e6571c6.5ef22","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":370,"y":188,"wires":[["5907d06f.210d5"]]},{"id":"299fdcef.0f861c","type":"inject","z":"7d7f0ca0.373b94","name":"Tick","topic":"","payload":"","repeat":"","crontab":"*/5 * * * *","once":false,"x":131,"y":197,"wires":[["ff0b2b1e.9b19a"]]},{"id":"ff0b2b1e.9b19a","type":"http request","z":"7d7f0ca0.373b94","name":"UK Power","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":266,"y":109,"wires":[["5c052b8c.b84dbc","dbc02ecb.a627a"]]},{"id":"5c052b8c.b84dbc","type":"function","z":"7d7f0ca0.373b94","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":463,"y":221,"wires":[["f5b4880.54bad78"],["f303d8fd.0905e8"]]},{"id":"f5b4880.54bad78","type":"debug","z":"7d7f0ca0.373b94","name":"","active":true,"complete":false,"x":644,"y":152,"wires":[]},{"id":"f303d8fd.0905e8","type":"debug","z":"7d7f0ca0.373b94","name":"","active":true,"complete":false,"x":653,"y":278,"wires":[]},{"id":"3eb2b901.59fc9e","type":"base64","z":"480057f9.6acdc8","name":"","x":567.5,"y":190,"wires":[["b61994b2.6b1b2"]]},{"id":"dbc02ecb.a627a","type":"ui_chart","z":"7d7f0ca0.373b94","name":"","group":"2887cfbf.8d48f8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"x":434.5,"y":297,"wires":[["f5b4880.54bad78"],["f303d8fd.0905e8"]]},{"id":"179288d9.d35637","type":"Base64zip","z":"f50e76f4.da2098","name":"","x":375.5,"y":68,"wires":[["71958833.11ebc"]]},{"id":"fd28b73d.273a3","type":"inject","z":"f50e76f4.da2098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114.5,"y":69,"wires":[["138e3c51.9bcfe4"]]},{"id":"71958833.11ebc","type":"debug","z":"f50e76f4.da2098","name":"","active":true,"console":"false","complete":"false","x":731.5,"y":68,"wires":[]},{"id":"138e3c51.9bcfe4","type":"function","z":"f50e76f4.da2098","name":"","func":"msg.payload = new Buffer(\"damn you guys\");\nvar fs = global.get('fs1');\nvar path = global.get('path');\n\nif ( (typeof fs !== 'undefined') || (typeof path !== 'undefined') ) {\n    node.error('Either fs or path modules could not be found in global context')\n    return    \n}\n// And make sure they are functions\n// if ( (typeof fs !== 'object') || (typeof path !== 'object') ) {\n//     node.error('Either fs or path from global context is not an object & it must be')\n//     return    \n// }\n\n\nvar folder = msg.payload.folder || '/home/.node-red';\nvar extension = msg.payload.ext || '.zip';\n\nif ( (typeof folder !== 'string') || (typeof extension !== 'string') ) {\n    node.error('Either Folder or Ext is not a string, cannot process. Folder: ' + folder + ', Ext: ' + extension, err)\n    return    \n}\n\n// fs.readdir(folder, callback)\n\nfunction callback(err, files) {\n    if (err) {\n        node.error('Oops! Folder does not exist: ' + folder, err)\n        return\n    }\n    \n    // Any error in here will crash Node-Red!! So catch them instead\n    try {\n        files\n            .filter( filterOnExtension ) // calls the given callback func for each file, will only pass names where fn returns true\n            .forEach( sendName )\n    } catch (err) {\n        node.error('Ouch! Something went badly wrong processing the files list', err)\n        return\n    }\n}\n\nfunction filterOnExtension(file) {\n    var len = extension.length\n\n    // Returns TRUE only if the file name ends in the given extension\n    return file.substr(0-len) === extension\n}\n\nfunction sendName(file) {\n        msg.payload = path.join(folder, file)\n        node.send( msg )\n}\n","outputs":1,"noerr":0,"x":235.5,"y":203,"wires":[["179288d9.d35637"]]},{"id":"9c909e70.fce678","type":"debug","z":"f50e76f4.da2098","name":"","active":true,"console":"false","complete":"false","x":730.5,"y":214,"wires":[]},{"id":"ef2483e.7e5348","type":"inject","z":"f767b786.2f5da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.5,"y":129,"wires":[["db0f37f6.5cea3"]]},{"id":"5d3c2128.5e03a8","type":"debug","z":"f767b786.2f5da","name":"","active":true,"console":"false","complete":"false","x":634.5,"y":232,"wires":[]},{"id":"db0f37f6.5cea3","type":"function","z":"f767b786.2f5da","name":"","func":"msg.payload = \"i'm here to kill you\";\nreturn msg;","outputs":1,"noerr":0,"x":268.5,"y":243,"wires":[[]]},{"id":"d996ff28.827238","type":"unzip","z":"6219e183.af044","name":"","x":451.5,"y":277,"wires":[["38e1bb0e.562114"]]},{"id":"a6bb8a3e.18283","type":"inject","z":"6219e183.af044","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.5,"y":69,"wires":[["854e6040.2e72c"]]},{"id":"38e1bb0e.562114","type":"debug","z":"6219e183.af044","name":"","active":true,"console":"false","complete":"false","x":727.5,"y":86,"wires":[]},{"id":"854e6040.2e72c","type":"fs-file-lister","z":"6219e183.af044","name":"","start":"/var/www/html/chandresh/practice/111/test.zip","pattern":"","path":true,"single":false,"depth":0,"stat":false,"x":302.5,"y":180,"wires":[["d996ff28.827238"]]},{"id":"bafe8ca8.2ee4e8","type":"unzip","z":"f50e76f4.da2098","name":"","x":497.5,"y":218,"wires":[[]]},{"id":"e0f447f.ae620b8","type":"inject","z":"6b1b0aea.e8f174","name":"Inject Payload JSON","topic":"","payload":"{\"folder\":\"/home/pi\", \"ext\":\".sh\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":205,"y":199,"wires":[["34ee1a04.24f94e"]]},{"id":"34ee1a04.24f94e","type":"function","z":"6b1b0aea.e8f174","name":"Read folder, output file paths","func":"// Sends a msg with full file path for each file in a given folder ending with given extension\n// PARAMETERS:\n//   msg.payload.folder {string} Folder to look in for files\n//   msg.payload.ext    {string} The file extension to look for\n// ASSUMPTIONS:\n//   Node.JS libraries fs and path have been required in the functionGlobal section of settings.js\n//   Tested using Node.JS v4.4.5 LTS and Node-Red 0.13.4\n// NOTES:\n//   You would almost certainly be better off using one of the \"glob\" modules such as glob-fs, node-glob or glob-all\n\nvar fs = global.get('fs1')\nvar path = global.get('path')\n\n// Give up if fs or path have not been assigned to global context (see assumption 1)\nif ( (typeof fs !== 'undefined') || (typeof path !== 'undefined') ) {\n    node.error('Either fs or path modules could not be found in global context')\n    return    \n}\n// And make sure they are functions\n// if ( (typeof fs !== 'object') || (typeof path !== 'object') ) {\n//     node.error('Either fs or path from global context is not an object & it must be')\n//     return    \n// }\n\nvar folder = msg.payload.folder || '/home/.node-red'\nvar extension = msg.payload.ext || '.gpx'\n\n// Make sure the parameters are strings\nif ( (typeof folder !== 'string') || (typeof extension !== 'string') ) {\n    node.error('Either Folder or Ext is not a string, cannot process. Folder: ' + folder + ', Ext: ' + extension, err)\n    return    \n}\n\n// fs.readdir(folder, callback)\n\n// readir is ASYNC so don't return msg here as\n// it would be pointless\n\nfunction callback(err, files) {\n    if (err) {\n        node.error('Oops! Folder does not exist: ' + folder, err)\n        return\n    }\n    \n    // Any error in here will crash Node-Red!! So catch them instead\n    try {\n        files\n            .filter( filterOnExtension ) // calls the given callback func for each file, will only pass names where fn returns true\n            .forEach( sendName )\n    } catch (err) {\n        node.error('Ouch! Something went badly wrong processing the files list', err)\n        return\n    }\n}\n\nfunction filterOnExtension(file) {\n    var len = extension.length\n\n    // Returns TRUE only if the file name ends in the given extension\n    return file.substr(0-len) === extension\n}\n\nfunction sendName(file) {\n        msg.payload = path.join(folder, file)\n        node.send( msg )\n}","outputs":1,"noerr":0,"x":444,"y":199,"wires":[["68d9d85c.bdcf7"]]},{"id":"68d9d85c.bdcf7","type":"debug","z":"6b1b0aea.e8f174","name":"","active":true,"console":"false","complete":"true","x":645,"y":199,"wires":[]},{"id":"8b5e72a2.3d75a8","type":"inject","z":"5acbbe8e.38a6e8","name":"GO","topic":"","payload":"temp.demo.bigfile","payloadType":"str","repeat":"","crontab":"","once":false,"x":123.5,"y":364,"wires":[["b030fd39.2d7bb","1599d5e2.74731a","20c9e07a.841be8"]]},{"id":"8758caca.251ab8","type":"function","z":"5acbbe8e.38a6e8","name":"random line generator","func":"function getRandomArbitrary(min, max) {\n  return Math.random() * (max - min) + min;\n}\n\nfor (n = 0; n < msg.payload; n++) {\n    var line = \"\";\n    for (i = 1; i < getRandomArbitrary(10,50); i++) {\n        line += String.fromCharCode(getRandomArbitrary('A'.charCodeAt(0), 'Z'.charCodeAt(0)))\n    }\n    msg_line = { payload: line }\n    \n    node.send(msg_line);\n}\n","outputs":"1","noerr":0,"x":358,"y":182,"wires":[["675e725c.28e43c"]]},{"id":"ccc27fe8.dd557","type":"inject","z":"5acbbe8e.38a6e8","name":"10k lines generator","topic":"","payload":"10000","payloadType":"num","repeat":"","crontab":"","once":false,"x":159,"y":134,"wires":[["8758caca.251ab8"]]},{"id":"675e725c.28e43c","type":"file","z":"5acbbe8e.38a6e8","name":"","filename":"temp.demo.bigfile","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":580.5,"y":134,"wires":[]},{"id":"a51aa25a.bf7dc","type":"debug","z":"5acbbe8e.38a6e8","name":"got ... lines","active":true,"console":"false","complete":"payload","x":847.5,"y":430,"wires":[]},{"id":"2e9ad115.afb4b6","type":"function","z":"5acbbe8e.38a6e8","name":"line counter","func":"if (msg.payload) {\n    global.lines++;\n}\nif (msg.control && msg.control.state == 'start') {\n    global.lines = 0;\n}\nif (msg.control && msg.control.state == 'end') {\n    node.send({ payload: \"Got \" + global.lines + \" lines\" })\n}\n","outputs":1,"noerr":0,"x":671.5,"y":430,"wires":[["a51aa25a.bf7dc"]]},{"id":"1f580463.8fb66c","type":"debug","z":"5acbbe8e.38a6e8","name":"got a string","active":true,"console":"false","complete":"payload","x":848,"y":358,"wires":[]},{"id":"68c33d30.dd9f84","type":"function","z":"5acbbe8e.38a6e8","name":"byte counter","func":"node.send({ payload: \"Got a \" + msg.payload.length + \" bytes string!\"})","outputs":1,"noerr":0,"x":616,"y":358,"wires":[["1f580463.8fb66c"]]},{"id":"fa38c2ac.2ca8f8","type":"function","z":"5acbbe8e.38a6e8","name":"block counter","func":"if (msg.payload) {\n    global.blocks++;\n    global.size += msg.payload.length;\n}\nif (msg.control && msg.control.state == 'start') {\n    global.blocks = global.size = 0;\n}\nif (msg.control && msg.control.state == 'end') {\n    node.send({ payload: \"Got \" + global.blocks + \" blocks for a total of \" + global.size + \" bytes\" })\n}\n","outputs":1,"noerr":0,"x":605,"y":302,"wires":[["e705a4c6.7e933"]]},{"id":"e705a4c6.7e933","type":"debug","z":"5acbbe8e.38a6e8","name":"got ... blocks + bytes","active":true,"console":"false","complete":"payload","x":818,"y":302,"wires":[]},{"id":"88a9c0de.aafb7","type":"comment","z":"5acbbe8e.38a6e8","name":"First of all, generate a random file","info":"","x":195.5,"y":96,"wires":[]},{"id":"2a45ece.9ea1394","type":"comment","z":"5acbbe8e.38a6e8","name":"bigfile usage demo pre-configured","info":"","x":206,"y":258,"wires":[]},{"id":"e60bf4b.9050408","type":"comment","z":"5acbbe8e.38a6e8","name":"Big File node example of use","info":"","x":125,"y":40,"wires":[]},{"id":"4277b19a.1cc1d","type":"inject","z":"5acbbe8e.38a6e8","name":"GO with an error","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":143,"y":623,"wires":[["ba53a64b.e74fa8"]]},{"id":"ba53a64b.e74fa8","type":"function","z":"5acbbe8e.38a6e8","name":"Non existing file","func":"msg.payload = \"/A/Probably/Non/Existing/File\"\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":623,"wires":[["6a3fc293.8c026c"]]},{"id":"2d6f5821.8a2ed","type":"inject","z":"5acbbe8e.38a6e8","name":"GO controlled","topic":"","payload":"dummy","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":516,"wires":[["9d2ecb25.5a78c"]]},{"id":"9d2ecb25.5a78c","type":"function","z":"5acbbe8e.38a6e8","name":"control msg","func":"msg.config = { flow: \"lines\", filename: \"temp.demo.bigfile\" }\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":536,"wires":[["27ae3467.a97dbc"]]},{"id":"7d8c304a.d45ff8","type":"comment","z":"5acbbe8e.38a6e8","name":"bigfile usage demo message configured","info":"","x":218,"y":480,"wires":[]},{"id":"52cfea90.29d564","type":"comment","z":"5acbbe8e.38a6e8","name":"error example","info":"","x":127,"y":583,"wires":[]},{"id":"f2cf635a.e67cf","type":"debug","z":"5acbbe8e.38a6e8","name":"got ... lines","active":true,"console":"false","complete":"payload","x":882,"y":520,"wires":[]},{"id":"59f44317.776a14","type":"function","z":"5acbbe8e.38a6e8","name":"line counter","func":"if (msg.payload) {\n    global.lines++;\n}\nif (msg.control && msg.control.state == 'start') {\n    global.lines = 0;\n}\nif (msg.control && msg.control.state == 'end') {\n    node.send({ payload: \"Got \" + global.lines + \" lines\" })\n}\n","outputs":1,"noerr":0,"x":694,"y":519,"wires":[["f2cf635a.e67cf"]]},{"id":"b030fd39.2d7bb","type":"bigfile reader","z":"5acbbe8e.38a6e8","name":"","filename":"","nopayload":false,"flow":"blocks","highWaterMark":16,"encoding":"utf8","format":"utf8","keepEmptyLines":false,"x":312.75,"y":316.66668701171875,"wires":[["fa38c2ac.2ca8f8"],["fa38c2ac.2ca8f8"]]},{"id":"1599d5e2.74731a","type":"bigfile reader","z":"5acbbe8e.38a6e8","name":"","filename":"","nopayload":false,"flow":"blocks","highWaterMark":16,"encoding":"utf8","format":"utf8","keepEmptyLines":false,"x":305.75,"y":366.66668701171875,"wires":[["68c33d30.dd9f84"],[]]},{"id":"20c9e07a.841be8","type":"bigfile reader","z":"5acbbe8e.38a6e8","name":"","filename":"","nopayload":false,"flow":"blocks","highWaterMark":16,"encoding":"utf8","format":"utf8","keepEmptyLines":false,"x":308.75,"y":419.66668701171875,"wires":[["2e9ad115.afb4b6"],["2e9ad115.afb4b6"]]},{"id":"27ae3467.a97dbc","type":"bigfile reader","z":"5acbbe8e.38a6e8","name":"","filename":"","nopayload":false,"flow":"blocks","highWaterMark":16,"encoding":"utf8","format":"utf8","keepEmptyLines":false,"x":472.75,"y":519.6666870117188,"wires":[["2e9ad115.afb4b6"],["2e9ad115.afb4b6"]]},{"id":"6a3fc293.8c026c","type":"bigfile reader","z":"5acbbe8e.38a6e8","name":"","filename":"","nopayload":false,"flow":"blocks","highWaterMark":16,"encoding":"utf8","format":"utf8","keepEmptyLines":false,"x":689.75,"y":621.6666870117188,"wires":[[],[]]}]